<div>
  <span><%= Question.human_attribute_name(:body) %> </span>
  <span><%= @question.body %></span>
</div>

<h2><%= t('.answers') %></h2>

<%= link_to t('.new'), new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.back'), admin_test_path(@question.test) %>
