<div class='col-lg-4 offset-lg-4 border rounded my-3 text-xs-center'>
  <div class='h2'><%= t('.resend_confirmation_title')%></div>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: User.human_attribute_name(:email) %>
    </div>

    <%= f.submit t('.resend_confirmation'), class: 'btn btn-primary btn-block' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
