<div class='card col-lg-8 offset-lg-2'>
  <div class="card-body">
    <h3 class='card-title'><%= @badge.caption %></h3>
    <%= image_tag @badge.image %>
    <div class='btn-group my-5' role='group'>
      <%= link_to t('.badges'), admin_badges_path, class: 'btn btn-primary' %>
      <%= link_to t('.edit'), edit_admin_badge_path(@badge), class: 'btn btn-secondary' %>
      <%= link_to t('.destroy'), admin_badges_path(@badge), method: :delete, data: { confirm: t('dialogs.are_you_sure')}, class: 'btn btn-danger'  %>
    </div>
  </div>
</div>

