<hr>
<div class="nav nav-admin">
  <h1 class="nav-admin title">
    <%= link_to_unless_current t('title'), root_path %> |
    <%= t('admin_panel') %>
  </h1>
  <div class='nav-admin user'>
    <%= t('welcome_admin_html', email: current_user.email) %> |
    <%= link_to_unless_current t('.edit_user'),  edit_user_registration_path %> |
    <%= link_to_unless_current t('.logout'), destroy_user_session_path, method: :delete %>
  </div>
  <div>
    <%= link_to_unless_current t('.tests'), admin_tests_path %> |
    <%= link_to_unless_current t('.create_test'), new_admin_test_path %>
  </div>
</div>
<hr>
