<div class='col-md-6 mx-md-auto m-md-3 p-md-3 text-justify border rounded border-primary'>
  <h1> <%= t('.title', title: @test_passage.test.title) %> </h1>
  <p>
    <%= t('.count', count: @test_passage.test.questions.count) %>
  </p>
  <div class='card m-3 p-3'>
    <div class='card-header h4'>
      <%= @test_passage.question_number %>.
      <%= @test_passage.current_question.body %>
    </div>
    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <ul class='list-group list-group-flush'>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <li class='list-group-item form-check'>
            <div class='custom-control custom-checkbox m-3'>
              <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'custom-control-input' %>
              <%= b.label class: 'custom-control-label' %>
            </div>
          </li>
        <% end %>
      </ul>
    <div class='card-body'>
      <%= form.submit t('.next'), class: 'btn btn-primary btn-lg btn-block' %>
    </div>
    <% end %>
  </div>
</div>
