<hr>
<div class='nav'>
  <h1>
    <%= link_to_unless_current t('title'), root_path %>
  </h1>
  <%= render 'shared/locales' %>
  <div class='user'>  
    <% if user_signed_in? %>
      <%= t('welcome_user_html', email: current_user.email) %> |
      <%= link_to_unless_current t('.edit_user'),  edit_user_registration_path %> |
      <%= link_to_unless_current t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to_unless_current t('.login'), new_user_session_path %> |
      <%= link_to_unless_current t('.signup'), new_user_registration_path %>
    <% end %>
  </div>
</div>
<hr>
