<nav class='navbar navbar-light bg-light navbar-expand-lg border-bottom border-primary'>
  <%= link_to t('title'), root_path, class: 'navbar-brand h1' %>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <% if user_signed_in? %>
      <span class='navbar-text'>
        <%= t('welcome_user_html', email: current_user.email) %>
      </span>
    <% end %>
    <ul class='navbar-nav ml-auto'>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class='nav-item'>
            <%= link_to t('.admin_panel'), admin_tests_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class='nav-item'>
          <%= link_to t('.edit_user'),  edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class='nav-item'>
          <%= link_to t('.login'), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('.signup'), new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
      <%= render 'shared/locales' %>
    </ul>
  </div>
</nav>
