<hr>
<div>
  <h1>
    <%= link_to_unless_current t('title'), root_path %>
  </h1>
  <div class='nav user'>
    <% if user_signed_in? %>      
      Welcome, <b class='nav-user email'><%= current_user.email %></b> Guru |
      <%= link_to_unless_current t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to_unless_current t('.login'), new_user_session_path %> |
      <%= link_to_unless_current t('.signup'), new_user_registration_path %>
    <% end %>
  </div>
  <%= link_to_unless_current t('.tests'), tests_path %>
</div>
<hr>
