<%= form_with(model: [:admin, test],
              url: update_inline_admin_test_path(test),
              local: true,
              html: { style: 'display: none' },
              class: 'form-inline',
              data: { test_id: test.id }) do |form| %>
  <div class='input-group mb-3'>
    <%= form.text_field :title, class: 'form-control', placeholder: Test.human_attribute_name(:title) %>
    <div class='input-group-append'>
      <%= form.button class: 'btn btn-outline-primary' do %>
        <%= octicon('check') %>
      <% end %>
      <%= content_tag :a, href: '#',
                          class: 'btn btn-outline-secondary form-inline-link form-inline-cancel',
                          style: 'display: none',
                          data: { test_id: test.id } do %>
        <%= octicon('x') %>
      <% end %>
    </div>
  </div>
<% end %>
