<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= mail_to_user(test.author) %></td>
  <td><%= test.questions.size %></td>
  <td><%= link_to t('.edit'), edit_admin_test_path(test) %> </td>
  <td><%= link_to t('.destroy'), admin_test_path(test), method: :delete, data: { confirm: t('dialogs.are_you_sure')}  %></td>
<tr>
