<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th class='col sort-by-title pointer'>
          <%= Test.human_attribute_name(:title) %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th class='col'><%= Test.human_attribute_name(:level) %></th>
        <th class='col'><%= Test.human_attribute_name(:category) %></th>
        <th class='col'><%= Test.human_attribute_name(:author) %></th>
        <th class='col'><%= Test.human_attribute_name('questions.size') %></th>
        <th class='col'><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
<%= link_to t('.create'), new_admin_test_path, class: 'btn btn-primary m-3' %>
