<div class='card col-lg-8 offset-lg-2'>
  <div class="card-body">
    <h3 class='card-title'><%= @test.title %></h3>
    <dl class='row'>
      <dt class='col-lg-3'><%= Test.human_attribute_name(:level) %> </dt>
      <dd class='col-lg-9'><%= @test.level %></dd>

      <dt class='col-lg-3'><%= Test.human_attribute_name(:category) %></dt>
      <dd class='col-lg-9'><%= @test.category.title %></dd>

      <dt class='col-lg-3'><%= Test.human_attribute_name(:author) %></dt>
      <dd class='col-lg-9'><%= mail_to_user(@test.author) %></dd>

      <dt class='col-lg-3'><%= Test.human_attribute_name('questions.size') %>
      <dd class='col-lg-9'><%= @test.questions.size %></dd>
    </dl>
    <div class='btn-group my-5' role='group'>
      <%= link_to t('.tests'), admin_tests_path, class: 'btn btn-secondary' %>
      <%= link_to t('.edit'), edit_admin_test_path(@test), class: 'btn btn-secondary' %>
      <%= link_to t('.destroy'), admin_test_path(@test), method: :delete, data: { confirm: t('dialogs.are_you_sure')}, class: 'btn btn-secondary'  %>
    </div>
    <h4><%= t('.questions') %></h4>
    <div class='table-responsive'>
      <table class='table table-striped'>
        <tr>
          <th class='col'><%= Question.human_attribute_name(:body) %></th>
          <th class='col'><%= Question.human_attribute_name('answers.size') %></th>
          <th class='col'><%= t('.actions') %></th>
        </tr>
        <%= render @test.questions %>
      </table>
    </div>
    <%= link_to t('.new_test_question'), new_admin_test_question_path(@test), class:'btn btn-primary my-3' %>
  </div>
</div>