<tr>
  <td><%= link_to test.title, test_path(test) %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= mail_to_user(test.author) %></td>
  <td><%= test.questions.size %></td>
<tr>
