<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= mail_to_user(test.author) %></td>
  <td><%= test.questions.size %></td>
  <td><%= button_to t('.start'), start_test_path(test), disabled: !test.active? %></td>
<tr>
