<table>
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= Test.human_attribute_name(:level) %></th>
    <th><%= Test.human_attribute_name(:category) %></th>    
    <th><%= Test.human_attribute_name(:author) %></th>
    <th><%= Test.human_attribute_name('questions.size') %></th>
  </tr>
  <%= render @tests %>
</table>